.hero-section {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  color: #fff;
}

.card:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.featured-packages,
.info-section,
.testimonials-section {
  background-color: #1a1a1a;
  color: #fff;
}

.featured-packages h2,
.testimonials-section h2,
.info-section h3 {
  color: #ffc107;
}

.text-warning-custom {
  color: #ffc107;
}

.bg-yellow {
  background-color: #ffc107;
}

.card-title {
  font-weight: bold;
}

.stats-number {
  color: #ffc107;
  font-size: 2.5rem;
  font-weight: bold;
}
